POSTGRES_USER=praktikum
POSTGRES_PASSWORD=praktikum
POSTGRES_DB=kosmos
DB_PORT_HOST=55432

LAUNCH_LIBRARY_URL=https://lldev.thespacedevs.com/2.2.0/launch/upcoming/

OPEN_METEO_URL=https://api.open-meteo.com/v1/forecast
